@import '../styles/colors';

/////////////////////
//// Tic Tac Toe ////
/////////////////////

$gameBoardLength: 450px;
$boxLength: 75px;

.TicTacToe {
  height: 100%;
  &-gameBoard {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      flex-flow: row wrap;
      width: $gameBoardLength;
      height: $gameBoardLength;
      justify-content: space-between;
      li {
        border: 1px solid $mshBlack;
        border-radius: 5px;
        width: $boxLength;
        height: $boxLength;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 900;
        margin: 5px;
      }
    }
  }
  &-square {
    text-transform: uppercase;
  }
  &-square--x {
    color: $mshRed;
  }
  &-square--o {
    color: $mshBlue;
  }
}
