@import '../../styles/colors';

.Sidebar {
  color: $mshBlack;
  &-header {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    cursor: default;
    font-size: 28px;
    span {
      margin-right: 7px;
    }
    &--black {
      color: $mshBlack;
    }
    &--red {
      color: $mshRed;
    }
    &--blue {
      color: $mshBlue;
    }

  }
  &-subheader {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    color: darken($mshBlue, 10%);
    cursor: default;
  }
  &-menuItem {
    span {
      color: $mshBlack;
      text-decoration: none;
    }
    &:hover {
      background-color: $lightGray;
      span {
        color: $mshRed;
      }
    }
  }
}
